@charset "UTF-8";
.main-menu {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9999;
}

.main-menu-logo {
  height: 32px;
  margin-right: 8px;
}

.main-menu nav {
  margin-left: 8px;
}

.main-menu-labels {
  display: flex;
  gap: 8px;
  list-style: none;
}

.main-menu-label {
  border-radius: 4px;
  cursor: pointer;
  padding: 2px 8px;
  position: relative;
}

.sub-menu-labels {
  border-radius: 4px;
  display: none;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  left: 0;
  list-style: none;
  padding: 4px;
  position: absolute;
}

.main-menu-add {
  bottom: -120px;
}

.main-menu-theme {
  bottom: -75px;
}

.sub-menu-labels li {
  border-radius: 4px;
  cursor: pointer;
  padding: 4px;
  width: 160px;
}

.theme-selected {
  background-color: #0ea5e9;
}

@media (prefers-color-scheme: dark) {
  .main-menu {
    background: #111827;
    color: #e5e7eb;
  }
  .main-menu-label:hover {
    background: #0ea5e9;
  }
  .sub-menu-labels {
    background: #111827;
    color: #e5e7eb;
  }
  .sub-menu-labels li:hover {
    background: #0ea5e9;
  }
}
@media (prefers-color-scheme: light) {
  .main-menu {
    background: #64748b;
    color: #e5e7eb;
  }
  .main-menu-label:hover {
    background: #0ea5e9;
  }
  .sub-menu-labels {
    background: #64748b;
    color: #e5e7eb;
  }
  .sub-menu-labels li:hover {
    background: #0ea5e9;
  }
}
.add-member-form {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-around;
  width: 90%;
}
.add-member-form fieldset {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: space-evenly;
  width: 85%;
}
.add-member-form fieldset div {
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-evenly;
  width: 80%;
}
.add-member-form fieldset .add-member-title {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}
.add-member-form fieldset .name-label {
  border-left: 4px solid #0ea5e9;
  border-radius: 2px;
  padding: 12px 8px;
  width: 100%;
}
.add-member-form fieldset .name-label .name-input {
  border: none;
  width: 100%;
}
.add-member-form fieldset .name-label .name-input:focus {
  outline: none;
}
.add-member-form fieldset .name-label .name-input::-moz-placeholder {
  color: #1f2937;
}
.add-member-form fieldset .name-label .name-input:-ms-input-placeholder {
  color: #1f2937;
}
.add-member-form fieldset .name-label .name-input::placeholder {
  color: #1f2937;
}
.add-member-form fieldset .congregated-label {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 8px;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.add-member-form fieldset .congregated-label::after {
  bottom: -16px;
  content: "* marque a caixa caso não seja membro";
  font-size: 0.75rem;
  font-style: italic;
  left: 0;
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.add-member-form .submit-button {
  border-radius: 4px;
  cursor: pointer;
  font-weight: 800;
  opacity: 0.9;
  padding: 8px 12px;
}
.add-member-form .submit-button:hover {
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  .add-member-form {
    background-color: #111827;
    color: #e5e7eb;
  }
  .add-member-form fieldset .name-label {
    background-color: white;
  }
  .add-member-form fieldset .name-label .name-input {
    background-color: white;
    color: #111827;
  }
  .add-member-form fieldset .name-label .name-input::-moz-placeholder {
    color: #1f2937;
  }
  .add-member-form fieldset .name-label .name-input:-ms-input-placeholder {
    color: #1f2937;
  }
  .add-member-form fieldset .name-label .name-input::placeholder {
    color: #1f2937;
  }
  .add-member-form fieldset .congregated-label::after {
    color: #e5e7eb;
  }
  .add-member-form .submit-button {
    background-color: #0ea5e9;
    color: #1f2937;
  }
}
@media (prefers-color-scheme: light) {
  .add-member-form {
    background-color: white;
    color: #111827;
  }
  .add-member-form fieldset .name-label {
    background-color: #111827;
  }
  .add-member-form fieldset .name-label .name-input {
    background-color: #111827;
    color: #e5e7eb;
  }
  .add-member-form fieldset .name-label .name-input::-moz-placeholder {
    color: #e5e7eb;
  }
  .add-member-form fieldset .name-label .name-input:-ms-input-placeholder {
    color: #e5e7eb;
  }
  .add-member-form fieldset .name-label .name-input::placeholder {
    color: #e5e7eb;
  }
  .add-member-form fieldset .congregated-label::after {
    color: #1f2937;
  }
}
* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: sans-serif;
  font-size: small;
  height: 100%;
  width: 100%;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
  justify-content: center;
  padding-top: 40px;
  width: 100%;
}

.footer {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-size: 0.6rem;
  height: 20px;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.toast {
  border-radius: 2px;
  cursor: pointer;
  padding: 16px 16px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 999;
}

.toast-error {
  background-color: red;
  color: #e5e7eb;
}

.toast-success {
  background-color: seagreen;
  color: #e5e7eb;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #1f2937;
    color: #e5e7eb;
  }
  .footer {
    background-color: #111827;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background: #e5e7eb;
    color: #111827;
  }
  .footer {
    background-color: #64748b;
    color: #e5e7eb;
  }
}/*# sourceMappingURL=global.css.map */