@import './colors';

@import '../app/Menu/menu';

@import '../app/Screens/Add/Member/addMember';

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: sans-serif;
  font-size: small;
  height: 100%;
  width: 100%;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
  justify-content: center;
  padding-top: 40px;
  width: 100%;
}

.footer {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-size: 0.6rem;
  height: 20px;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.toast {
  border-radius: 2px;
  cursor: pointer;
  padding: 16px 16px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: max-content;
  z-index: 999;
}

.toast-error {
  background-color: red;
  color: $gray-200;
}

.toast-success {
  background-color: seagreen;
  color: $gray-200;
}

@media (prefers-color-scheme: dark) {
  body {
    background: $gray-800;
    color: $gray-200;
  }

  .footer {
    background-color: $gray-900;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: $gray-200;
    color: $gray-900;
  }

  .footer {
    background-color: $slate-500;
    color: $gray-200;
  }
}
