@charset "UTF-8";
.main-menu {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9999;
}

.main-menu-logo {
  height: 32px;
  margin-right: 8px;
}

.main-menu nav {
  margin-left: 8px;
}

.main-menu-labels {
  display: flex;
  gap: 8px;
  list-style: none;
}

.main-menu-label {
  border-radius: 4px;
  cursor: pointer;
  padding: 2px 8px;
  position: relative;
}

.sub-menu-labels {
  border-radius: 4px;
  display: none;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  left: 0;
  list-style: none;
  padding: 4px;
  position: absolute;
}

.main-menu-add {
  bottom: -120px;
}

.main-menu-theme {
  bottom: -75px;
}

.sub-menu-labels li {
  border-radius: 4px;
  cursor: pointer;
  padding: 4px;
  width: 160px;
}

.theme-selected {
  background-color: #0ea5e9;
}

@media (prefers-color-scheme: dark) {
  .main-menu {
    background: #111827;
    color: #e5e7eb;
  }
  .main-menu-label:hover {
    background: #0ea5e9;
  }
  .sub-menu-labels {
    background: #111827;
    color: #e5e7eb;
  }
  .sub-menu-labels li:hover {
    background: #0ea5e9;
  }
}
@media (prefers-color-scheme: light) {
  .main-menu {
    background: #64748b;
    color: #e5e7eb;
  }
  .main-menu-label:hover {
    background: #0ea5e9;
  }
  .sub-menu-labels {
    background: #64748b;
    color: #e5e7eb;
  }
  .sub-menu-labels li:hover {
    background: #0ea5e9;
  }
}
.add-member-form {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-around;
  width: 90%;
}
.add-member-form fieldset {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: space-evenly;
  width: 85%;
}
.add-member-form fieldset div {
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-evenly;
  width: 80%;
}
.add-member-form fieldset .add-member-title {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}
.add-member-form fieldset .name-label {
  border-left: 4px solid #0ea5e9;
  border-radius: 2px;
  overflow: hidden;
  width: 100%;
}
.add-member-form fieldset .name-label .name-input {
  border: none;
  width: 100%;
}
.add-member-form fieldset .name-label .name-input:focus {
  outline: none;
}
.add-member-form fieldset .congregated-label {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 8px;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.add-member-form fieldset .congregated-label::after {
  bottom: -16px;
  content: "* marque a caixa caso não seja membro";
  font-size: 0.75rem;
  font-style: italic;
  left: 0;
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media (prefers-color-scheme: dark) {
  .add-member-form {
    background-color: #111827;
    color: #e5e7eb;
  }
  .add-member-form fieldset .name-label {
    background-color: white;
  }
  .add-member-form fieldset .name-label .name-input {
    background-color: white;
    color: #111827;
  }
  .add-member-form fieldset .name-label .name-input::-moz-placeholder {
    color: #1f2937;
  }
  .add-member-form fieldset .name-label .name-input:-ms-input-placeholder {
    color: #1f2937;
  }
  .add-member-form fieldset .name-label .name-input::placeholder {
    color: #1f2937;
  }
  .add-member-form fieldset .congregated-label::after {
    color: #e5e7eb;
  }
}
@media (prefers-color-scheme: light) {
  .add-member-form {
    background-color: white;
    color: #111827;
  }
  .add-member-form fieldset .name-label {
    background-color: #111827;
  }
  .add-member-form fieldset .name-label .name-input {
    background-color: #111827;
    color: #e5e7eb;
  }
  .add-member-form fieldset .name-label .name-input::-moz-placeholder {
    color: #e5e7eb;
  }
  .add-member-form fieldset .name-label .name-input:-ms-input-placeholder {
    color: #e5e7eb;
  }
  .add-member-form fieldset .name-label .name-input::placeholder {
    color: #e5e7eb;
  }
  .add-member-form fieldset .congregated-label::after {
    color: #1f2937;
  }
}
.add-tithe-form {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-around;
  width: 90%;
}
.add-tithe-form fieldset {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: space-evenly;
  width: 85%;
}
.add-tithe-form fieldset div {
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-evenly;
  width: 80%;
}
.add-tithe-form fieldset .add-tithe-title {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}
.add-tithe-form fieldset label {
  align-items: center;
  display: flex;
  border-left: 4px solid #0ea5e9;
  border-radius: 2px;
  font-size: medium;
  overflow: hidden;
}
.add-tithe-form fieldset .member-id-label {
  width: 60%;
}
.add-tithe-form fieldset .member-id-label .member-id-select {
  border: none;
  width: 100%;
}
.add-tithe-form fieldset .member-id-label .member-id-select:focus {
  outline: none;
}
.add-tithe-form fieldset .value-label, .add-tithe-form fieldset .month-label, .add-tithe-form fieldset .year-label {
  max-width: 300px;
  min-width: 100px;
  width: 20%;
}
.add-tithe-form fieldset .value-label {
  padding-left: 8px;
  width: 19%;
}
.add-tithe-form fieldset .value-label .value-input {
  border: none;
  width: 100%;
}
.add-tithe-form fieldset .value-label .value-input:focus {
  outline: none;
}
.add-tithe-form fieldset .month-label .month-select {
  border: none;
  width: 100%;
}
.add-tithe-form fieldset .month-label .month-select:focus {
  outline: none;
}
.add-tithe-form fieldset .year-label .year-select {
  border: none;
  width: 100%;
}
.add-tithe-form fieldset .year-label .year-select:focus {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  .add-tithe-form {
    background-color: #111827;
    color: #e5e7eb;
  }
  .add-tithe-form fieldset label {
    background-color: white;
    color: #111827;
  }
  .add-tithe-form fieldset input::-moz-placeholder, .add-tithe-form fieldset select::-moz-placeholder {
    color: #1f2937;
  }
  .add-tithe-form fieldset input:-ms-input-placeholder, .add-tithe-form fieldset select:-ms-input-placeholder {
    color: #1f2937;
  }
  .add-tithe-form fieldset input::placeholder, .add-tithe-form fieldset select::placeholder {
    color: #1f2937;
  }
}
@media (prefers-color-scheme: light) {
  .add-tithe-form {
    background-color: white;
    color: #111827;
  }
  .add-tithe-form fieldset label, .add-tithe-form fieldset input, .add-tithe-form fieldset select {
    background-color: #111827;
    color: #e5e7eb;
  }
  .add-tithe-form fieldset input::-moz-placeholder, .add-tithe-form fieldset select::-moz-placeholder {
    color: #e5e7eb;
  }
  .add-tithe-form fieldset input:-ms-input-placeholder, .add-tithe-form fieldset select:-ms-input-placeholder {
    color: #e5e7eb;
  }
  .add-tithe-form fieldset input::placeholder,
.add-tithe-form fieldset select::placeholder {
    color: #e5e7eb;
  }
}
.add-offer-form {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-around;
  width: 90%;
}
.add-offer-form fieldset {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: space-evenly;
  width: 85%;
}
.add-offer-form fieldset div {
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-evenly;
  width: 80%;
}
.add-offer-form fieldset .add-offer-title {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}
.add-offer-form fieldset label {
  align-items: center;
  display: flex;
  border-left: 4px solid #0ea5e9;
  border-radius: 2px;
  font-size: medium;
}
.add-offer-form fieldset .member-id-label {
  position: relative;
  width: 60%;
}
.add-offer-form fieldset .member-id-label .member-id-select {
  border: none;
  width: 100%;
}
.add-offer-form fieldset .member-id-label .member-id-select:focus {
  outline: none;
}
.add-offer-form fieldset .member-id-label::after {
  bottom: -15px;
  content: "* selecione o membro em caso de ofertas especiais";
  font-size: x-small;
  font-style: italic;
  position: absolute;
  right: 0;
}
.add-offer-form fieldset .value-label,
.add-offer-form fieldset .month-label,
.add-offer-form fieldset .year-label {
  max-width: 300px;
  min-width: 100px;
  width: 20%;
}
.add-offer-form fieldset .value-label {
  padding-left: 8px;
  width: 19%;
}
.add-offer-form fieldset .value-label .value-input {
  border: none;
  width: 100%;
}
.add-offer-form fieldset .value-label .value-input:focus {
  outline: none;
}
.add-offer-form fieldset .month-label .month-select {
  border: none;
  width: 100%;
}
.add-offer-form fieldset .month-label .month-select:focus {
  outline: none;
}
.add-offer-form fieldset .year-label .year-select {
  border: none;
  width: 100%;
}
.add-offer-form fieldset .year-label .year-select:focus {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  .add-offer-form {
    background-color: #111827;
    color: #e5e7eb;
  }
  .add-offer-form fieldset label {
    background-color: white;
    color: #111827;
  }
  .add-offer-form fieldset input::-moz-placeholder, .add-offer-form fieldset select::-moz-placeholder {
    color: #1f2937;
  }
  .add-offer-form fieldset input:-ms-input-placeholder, .add-offer-form fieldset select:-ms-input-placeholder {
    color: #1f2937;
  }
  .add-offer-form fieldset input::placeholder,
.add-offer-form fieldset select::placeholder {
    color: #1f2937;
  }
  .add-offer-form fieldset .member-id-label::after {
    color: #e5e7eb;
  }
}
@media (prefers-color-scheme: light) {
  .add-offer-form {
    background-color: white;
    color: #111827;
  }
  .add-offer-form fieldset label,
.add-offer-form fieldset input,
.add-offer-form fieldset select {
    background-color: #111827;
    color: #e5e7eb;
  }
  .add-offer-form fieldset input::-moz-placeholder, .add-offer-form fieldset select::-moz-placeholder {
    color: #e5e7eb;
  }
  .add-offer-form fieldset input:-ms-input-placeholder, .add-offer-form fieldset select:-ms-input-placeholder {
    color: #e5e7eb;
  }
  .add-offer-form fieldset input::placeholder,
.add-offer-form fieldset select::placeholder {
    color: #e5e7eb;
  }
}
.add-expense-category-form {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-around;
  width: 90%;
}
.add-expense-category-form fieldset {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: space-evenly;
  width: 85%;
}
.add-expense-category-form fieldset div {
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-evenly;
  width: 80%;
}
.add-expense-category-form fieldset .add-expense-category-title {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}
.add-expense-category-form fieldset .name-label {
  border-left: 4px solid #0ea5e9;
  border-radius: 2px;
  overflow: hidden;
  width: 100%;
}
.add-expense-category-form fieldset .name-label .name-input {
  border: none;
  width: 100%;
}
.add-expense-category-form fieldset .name-label .name-input:focus {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  .add-expense-category-form {
    background-color: #111827;
    color: #e5e7eb;
  }
  .add-expense-category-form fieldset .name-label {
    background-color: white;
  }
  .add-expense-category-form fieldset .name-label .name-input {
    background-color: white;
    color: #111827;
  }
  .add-expense-category-form fieldset .name-label .name-input::-moz-placeholder {
    color: #1f2937;
  }
  .add-expense-category-form fieldset .name-label .name-input:-ms-input-placeholder {
    color: #1f2937;
  }
  .add-expense-category-form fieldset .name-label .name-input::placeholder {
    color: #1f2937;
  }
}
@media (prefers-color-scheme: light) {
  .add-expense-category-form {
    background-color: white;
    color: #111827;
  }
  .add-expense-category-form fieldset .name-label {
    background-color: #111827;
  }
  .add-expense-category-form fieldset .name-label .name-input {
    background-color: #111827;
    color: #e5e7eb;
  }
  .add-expense-category-form fieldset .name-label .name-input::-moz-placeholder {
    color: #e5e7eb;
  }
  .add-expense-category-form fieldset .name-label .name-input:-ms-input-placeholder {
    color: #e5e7eb;
  }
  .add-expense-category-form fieldset .name-label .name-input::placeholder {
    color: #e5e7eb;
  }
}
.add-expense-form {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-around;
  width: 90%;
}
.add-expense-form fieldset {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: space-evenly;
  width: 85%;
}
.add-expense-form fieldset div {
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-evenly;
  width: 80%;
}
.add-expense-form fieldset .add-expense-title {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}
.add-expense-form fieldset label {
  align-items: center;
  display: flex;
  border-left: 4px solid #0ea5e9;
  border-radius: 2px;
  font-size: medium;
  overflow: hidden;
}
.add-expense-form fieldset .expense-category-id-label, .add-expense-form fieldset .title-label {
  width: 60%;
}
.add-expense-form fieldset .value-label, .add-expense-form fieldset .month-label, .add-expense-form fieldset .year-label {
  max-width: 300px;
  min-width: 100px;
  width: 20%;
}
.add-expense-form fieldset .expense-category-id-select, .add-expense-form fieldset .title-input, .add-expense-form fieldset .value-input, .add-expense-form fieldset .month-select, .add-expense-form fieldset .year-select {
  border: none;
  width: 100%;
}
.add-expense-form fieldset .expense-category-id-select:focus, .add-expense-form fieldset .title-input:focus, .add-expense-form fieldset .value-input:focus, .add-expense-form fieldset .month-select:focus, .add-expense-form fieldset .year-select:focus {
  outline: none;
}
.add-expense-form fieldset .value-label {
  padding-left: 8px;
  width: 19%;
}

@media (prefers-color-scheme: dark) {
  .add-expense-form {
    background-color: #111827;
    color: #e5e7eb;
  }
  .add-expense-form fieldset label, .add-expense-form fieldset input, .add-expense-form fieldset select {
    background-color: white;
    color: #111827;
  }
  .add-expense-form fieldset input::-moz-placeholder, .add-expense-form fieldset select::-moz-placeholder {
    color: #1f2937;
  }
  .add-expense-form fieldset input:-ms-input-placeholder, .add-expense-form fieldset select:-ms-input-placeholder {
    color: #1f2937;
  }
  .add-expense-form fieldset input::placeholder,
.add-expense-form fieldset select::placeholder {
    color: #1f2937;
  }
}
@media (prefers-color-scheme: light) {
  .add-expense-form {
    background-color: white;
    color: #111827;
  }
  .add-expense-form fieldset label, .add-expense-form fieldset input, .add-expense-form fieldset select {
    background-color: #111827;
    color: #e5e7eb;
  }
  .add-expense-form fieldset input::-moz-placeholder, .add-expense-form fieldset select::-moz-placeholder {
    color: #e5e7eb;
  }
  .add-expense-form fieldset input:-ms-input-placeholder, .add-expense-form fieldset select:-ms-input-placeholder {
    color: #e5e7eb;
  }
  .add-expense-form fieldset input::placeholder,
.add-expense-form fieldset select::placeholder {
    color: #e5e7eb;
  }
}
* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: sans-serif;
  font-size: small;
  height: 100%;
  width: 100%;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
  justify-content: center;
  padding-top: 40px;
  width: 100%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  cursor: pointer;
  font-size: medium;
  height: 36px;
  padding-left: 8px;
  text-indent: 0.01px;
  text-overflow: "";
  width: 105%;
}

input {
  font-size: medium;
  height: 36px;
  padding-left: 8px;
}

.submit-button {
  border-radius: 4px;
  cursor: pointer;
  font-weight: 800;
  opacity: 0.9;
  padding: 8px 12px;
}
.submit-button:hover {
  opacity: 1;
}

.footer {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-size: 0.6rem;
  height: 20px;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.toast {
  border-radius: 2px;
  cursor: pointer;
  padding: 16px 16px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 999;
}

.toast-error {
  background-color: red;
  color: #e5e7eb;
}

.toast-success {
  background-color: seagreen;
  color: #e5e7eb;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #1f2937;
    color: #e5e7eb;
  }
  .submit-button {
    background-color: #0ea5e9;
    color: #1f2937;
  }
  .footer {
    background-color: #111827;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background: #e5e7eb;
    color: #111827;
  }
  .submit-button {
    background-color: #111827;
    color: #e5e7eb;
  }
  .footer {
    background-color: #64748b;
    color: #e5e7eb;
  }
}/*# sourceMappingURL=global.css.map */