.add-tithe-form {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-around;
  width: 90%;

  fieldset {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: space-evenly;
    width: 85%;

    div {
      display: flex;
      flex-direction: column;
      height: 60%;
      justify-content: space-evenly;
      width: 80%;
    }

    .add-tithe-title {
      font-size: xx-large;
      font-weight: bold;
      text-align: center;
    }

    label {
      align-items: center;
      display: flex;
      border-left: 4px solid $sky-500;
      border-radius: 2px;
      font-size: medium;
      overflow: hidden;
    }

    .member-id-label {
      width: 60%;

      .member-id-select {
        border: none;
        width: 100%;

        &:focus {
          outline: none;
        }
      }
    }

    .value-label, .month-label, .year-label {
      max-width: 300px;
      min-width: 100px;
      width: 20%;
    }

    .value-label {
      padding-left: 8px;
      width: 19%;

      .value-input {
        border: none;
        width: 100%;

        &:focus {
          outline: none;
        }
      }
    }

    .month-label {

      .month-select {
        border: none;
        width: 100%;

        &:focus {
          outline: none;
        }
      }
    }

    .year-label {

      .year-select {
        border: none;
        width: 100%;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .add-tithe-form {
    background-color: $gray-900;
    color: $gray-200;

      fieldset {
        label {
          background-color: white;
          color: $gray-900;
        }

        input::placeholder, select::placeholder {
          color: $gray-800;
        }
      }
  }
}

@media (prefers-color-scheme: light) {
  .add-tithe-form {
    background-color: white;
    color: $gray-900;

      fieldset {
        label, input, select {
          background-color: $gray-900;
          color: $gray-200;
        }

        input::placeholder,
        select::placeholder {
          color: $gray-200;
        }
      }
  }
}
